.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.main-div{
  background-image: url("images/space.png");
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.revolver{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(360deg);
  }
}
